.home_login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home_login-header {
  flex: 0 0 auto;
  width: 100%;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #d6e4ea;
}
.home_login-webname {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.home_login-homebutton {
  fill: #88cad9;
  width: 30px;
  display: flex;
  padding: 0px;
  align-self: flex-end;
  transition: 0.3s;
  margin-left: 10px;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 18px;
}
.home_login-homebutton:hover {
  fill: #7ebac7;
  border: none;
  border-radius: 0px;
}
.home_login-login {
  width: 375px;
  height: 282px;
  display: flex;
  align-self: center;
  margin-top: 6%;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #E1E2E8;
}
.home_login-title {
  font-size: 20px;
  align-self: center;
  margin-top: 20px;
}
.home_login-username {
  font-size: 14px;
  align-self: flex-start;
  margin-top: 5px;
  margin-left: 35px;
}
.home_login-usernametextbox {
  width: 306px;
  height: 30px;
  font-size: 14px;
  align-self: center;
  margin-top: 5px;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: var(--dl-color-gray-white);
}
.home_login-forgotusername {
  font-size: 10px;
  align-self: flex-end;
  margin-top: 5px;
  transition: 0.3s;
  margin-right: 35px;
  text-decoration: none;
}
.home_login-forgotusername:hover {
  color: #00778e;
}
.home_login-password {
  font-size: 14px;
  align-self: flex-start;
  margin-left: 35px;
}
.home_login-passwordtextbox {
  width: 306px;
  height: 30px;
  font-size: 14px;
  align-self: center;
  margin-top: 5px;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: var(--dl-color-gray-white);
}
.home_login-forgotpassword {
  font-size: 10px;
  align-self: flex-end;
  margin-top: 5px;
  transition: 0.3s;
  margin-right: 35px;
  text-decoration: none;
}
.home_login-forgotpassword:hover {
  color: #00778e;
}
.home_login-rememberme {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 35px;
  margin-bottom: 5px;
  justify-content: flex-start;
}
.home_login-remembermecheckbox {
  width: 13px;
  height: 13px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home_login-remembermetext {
  font-size: 14px;
  align-self: center;
  margin-top: 3px;
  margin-left: 5px;
}
.home_login-loginbutton {
  width: 306px;
  height: 30px;
  display: flex;
  align-self: center;
  margin-top: 10px;
  transition: 0.3s;
  align-items: flex-start;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  text-decoration: none;
  background-color: #88cad9;
}
.home_login-loginbutton:hover {
  border: none;
  display: flex;
  background-color: #7ebac7;
}
.home_login-logintext {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 7px;
  font-weight: 400;
  margin-left: 0px;
}
.home_login-signup {
  padding: 0px;
  font-size: 14px;
  align-self: flex-start;
  margin-top: 10px;
  transition: 0.3s;
  margin-left: 35px;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.home_login-signup:hover {
  color: #00778e;
  border: none;
  background-color: transparent;
}
.home_login-templogininstructor {
  font-size: 14px;
  align-self: center;
  text-decoration: none;
}
.home_login-temploginstudent {
  font-size: 14px;
  align-self: center;
  text-decoration: none;
}
