.retrieve_username-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.retrieve_username-header {
  flex: 0 0 auto;
  width: 100%;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #d6e4ea;
}
.retrieve_username-webname {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.retrieve_username-navlink {
  display: contents;
}
.retrieve_username-homebutton {
  fill: #88cad9;
  width: 30px;
  display: flex;
  padding: 0px;
  align-self: flex-end;
  transition: 0.3s;
  margin-left: 10px;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 18px;
  text-decoration: none;
}
.retrieve_username-homebutton:hover {
  fill: #7ebac7;
  border: none;
  border-radius: 0px;
}
.retrieve_username-retrieveusername {
  width: 375px;
  height: 212px;
  display: flex;
  align-self: center;
  margin-top: 6%;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #E1E2E8;
}
.retrieve_username-title {
  font-size: 20px;
  align-self: center;
  margin-top: 20px;
}
.retrieve_username-desc {
  font-size: 14px;
  align-self: flex-start;
  margin-top: 5px;
  margin-left: 35px;
}
.retrieve_username-email {
  font-size: 14px;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 35px;
}
.retrieve_username-emailtextbox {
  width: 306px;
  height: 30px;
  font-size: 14px;
  align-self: center;
  margin-top: 5px;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: var(--dl-color-gray-white);
}
.retrieve_username-buttons {
  flex: 0 0 auto;
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  margin-top: 15px;
  align-items: flex-start;
  margin-left: 0px;
  justify-content: flex-start;
}
.retrieve_username-retrievebutton {
  width: 90px;
  height: 30px;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: flex-start;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  text-decoration: none;
  background-color: #88cad9;
}
.retrieve_username-retrievebutton:hover {
  border: none;
  display: flex;
  background-color: #7ebac7;
}
.retrieve_username-retrievetext {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  align-self: center;
  margin-top: 7px;
  margin-left: 0px;
}
.retrieve_username-navlink1 {
  display: contents;
}
.retrieve_username-cancelbutton {
  width: 90px;
  height: 30px;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: flex-start;
  margin-left: 30px;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  text-decoration: none;
  background-color: #88cad9;
}
.retrieve_username-cancelbutton:hover {
  border: none;
  display: flex;
  background-color: #7ebac7;
}
.retrieve_username-canceltext {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  align-self: center;
  margin-top: 7px;
  margin-left: 0px;
}
