.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.header {
  flex: 0 0 auto;
  width: 100%;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #d6e4ea;
}
.webname {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.homebutton {
  fill: #88cad9;
  width: 30px;
  display: flex;
  padding: 0px;
  align-self: flex-end;
  transition: 0.3s;
  margin-left: 10px;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 18px;
}
.homebutton:hover {
  fill: #7ebac7;
  border: none;
  border-radius: 0px;
}
.name {
  right: 20px;
  bottom: 20px;
  position: absolute;
  font-size: 14px;
  transition: 0.3s;
}
.center {
  flex: 1;
  width: 707px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: #efefef;
}
.coursesheader {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 4%;
  align-items: flex-start;
  justify-content: center;
}
.yourcourses {
  font-size: 20px;
  align-self: flex-start;
  color: gray;
}
.entercode {
  width: 135px;
  height: 18px;
  font-size: 12px;
  align-self: center;
  margin-left: 336px;
  border-color: #88cad9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  background-color: transparent;
}
.joinbutton {
  width: 40px;
  height: 18px;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: flex-start;
  margin-left: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: #88cad9;
  cursor: pointer;
}
.joinbutton:hover {
  background-color: #7ebac7;
}
.joinbutton:active {
  background-color: #88cad9;
}
.join {
  color: var(--dl-color-gray-white);
  font-size: 12px;
  align-self: center;
}
.sort {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  margin-top: 6px;
  align-items: flex-start;
  margin-right: 32px;
  justify-content: center;
}
.sortby {
  font-size: 12px;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}
.sortoptions {
  flex: 0 0 auto;
  width: 120px;
  height: 18px;
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.newtoold {
  font-size: 12px;
  align-self: flex-start;
  margin-top: auto;
  margin-left: 5px;
  margin-bottom: auto;
}
/* --------------------- courses --------------------- */
.coursesection {
  width: 643px;
  height: 90px;
  box-shadow: 3px 3px 2px 0px #c4c5c7;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.course {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.coursename {
  font-size: 19px;
  margin-right: auto;
  margin-left: 20px;
  font-weight: 500;
}
.enterbutton {
  width: 50px;
  height: 18px;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
  background-color: #88cad9;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.enterbutton:hover {
  background-color: #7ebac7;
}
.enter {
  color: var(--dl-color-gray-white);
  font-size: 12px;
}
.group1, .group2 {
  width: 70px;
  height: 18px;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
}
.group1 {
  border-color: #d98889;
}
.group2 {
  border-color: #C29EF0;
}
.nogroup {
  color: #d98889;
  font-size: 12px;
}
.ingroup {
  color: #C29EF0;
  font-size: 12px;
}
.code {
  font-size: 12px;
  align-self: flex-start;
  margin-left: 20px;
}