.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.header {
  flex: 0 0 auto;
  width: 100%;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #d6e4ea;
}
.webname {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.homebutton {
  fill: #88cad9;
  width: 30px;
  display: flex;
  padding: 0px;
  align-self: flex-end;
  transition: 0.3s;
  margin-left: 10px;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 18px;
}
.homebutton:hover {
  fill: #7ebac7;
  border: none;
  border-radius: 0px;
}
.name {
  right: 20px;
  bottom: 20px;
  position: absolute;
  font-size: 14px;
  transition: 0.3s;
}
.center {
  flex: 1;
  width: 707px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: #efefef;
}
.coursesheader {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 4%;
  align-items: flex-start;
  justify-content: center;
}
.yourcourses {
  font-size: 20px;
  align-self: flex-start;
}
.createclassbutton {
  color:black;
  font-size: 12px;
  align-self: center;
  transition: 0.3s;
  margin-left: 415px;
  background-color: #88cad900;
  border-color: #88cad900;
}
.createclassbutton:hover {
  color: #88cad9;
  background-color: #88cad900;
  border-color: #88cad900;
}
.createclassbutton:focus {
  color: black;
  background-color: #0b5dd700;
  border-color: #0a57ca00;
  box-shadow: none;
}
.savechangebutton {
  color: #fff;
  background-color: #88cad9;
  border-color: #88cad9;
}
.savechangebutton:hover {
  color: #88cad9;
  background-color: #94a5a800;
  border-color: #88cad9;
}
.savechangebutton:focus {
  color: #fff;
  background-color: #88cad9;
  border-color: #88cad9;
  box-shadow: none;
}
.closebutton {
  color: #fff;
  background-color: #94a5a888;
  border-color: #88cad900;
}
.closebutton:hover {
  color: #94a5a888;
  background-color: #94a5a800;
  border-color: #94a5a888;
}
.sort {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  margin-top: 6px;
  align-items: flex-start;
  margin-right: 32px;
  justify-content: center;
}
.sortby {
  font-size: 12px;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}
.sortoptions {
  flex: 0 0 auto;
  width: 120px;
  height: 18px;
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.newtoold {
  font-size: 12px;
  align-self: flex-start;
  margin-top: auto;
  margin-left: 5px;
  margin-bottom: auto;
}
.coursesection {
  width: 643px;
  height: 90px;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 3px 3px 2px 0px #c4c5c7;
  margin-top: 10px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.course {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.coursename {
  font-size: 18px;
  /* align-self: center; */
  /* margin-right: 380px; */
  align-self: flex-start;
  margin-left: 20px;
  
}
.navlink {
  display: contents;
}
.enterbutton {
  top: 0px;
  right: 80px;
  bottom: 0px;
  margin: auto;
  position: absolute;

  text-align: center;
  width: 50px;
  height: 18px;
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  align-items: center;
  margin-left: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
  background-color: #88cad9;
}
.enterbutton:hover {
  background-color: #7ebac7;
}
.enter {
  color: var(--dl-color-gray-white);
  font-size: 12px;
  align-self: center;
  margin-right: 0px;
}
.deletebutton {
  top: 0px;
  right: 20px;
  bottom: 0px;
  margin: auto;
  position: absolute;

  text-align: center;
  width: 50px;
  height: 18px;
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  align-items: center;
  margin-left: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
  background-color: #88cad9;
}
.deletebutton:hover {
  background-color: #7ebac7;
}
.delete {
  color: var(--dl-color-gray-white);
  font-size: 12px;
  align-self: center;
}
.code{
  font-size: 12px;
  align-self: flex-start;
  margin-left: 20px;
}
