


.center {
  flex: 1;
  width: 707px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: #efefef;
}
.coursesheader {
  flex: 0 0 auto;
  width: 650px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 4%;
  align-items: flex-start;
  justify-content: center;
}
.joinbutton {
  width: 40px;
  height: 18px;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: flex-start;
  margin-left: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: #88cad9;
}

.coursesection {
  width: 643px;
  height: 100px;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 3px 3px 2px 0px #c4c5c7;
  margin-top: 10px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
  padding: 2px;
  margin: 10px 0;
  border: 1px;
}

.readbutton {
  width: 120px;
  height: 35px;

}

.acceptbutton {
  height: 35px;
}

/* --------------------- responsive --------------------- */

@media (max-width: 660px) {
  .coursesection {
    width: 95vw;
    height: fit-content;
  }
  .readbutton {
    float: right;
  }
  .acceptbutton {
    float: right;
  }
}
