.dropdown_container {
    position: relative;
    display: inline-block;
}
.name {
    background-color: transparent;
    cursor: pointer;
}
.name:hover {
    color: #00778e;
}
.dropdownMenu {
    margin-top: 10px;
    background-color: white;
    position: absolute;
    width: 145px;
    z-index: 2;
    border-radius: 3px;
    box-shadow: -3px 3px 5px 0px #c4c5c7;
    right: 0;
    margin-right: -5px;
}
.dropdown a {
    padding: 10px;
}
.dropdown a:active {
    background-color: #88cad9;
}